.DropDown {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding: 8px;
  background-color: snow;
}

.DropDown-label {
  font-size: 12px;
}

.DropDown-select {
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid darkgray;
  padding: 8px;
}
